name: kubernetes validation
on:
  push:
    branches:
      - main

jobs:
  kubeval:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test
        continue-on-error: true
        uses: instrumenta/kubeval-action@master
        with:
          files: app
    
  kube-score:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: install kubescore
      run: |
        wget https://github.com/zegl/kube-score/releases/download/v1.10.0/kube-score_1.10.0_linux_amd64.tar.gz
        tar -xvzf kube-score_1.10.0_linux_amd64.tar.gz
        chmod +x kube-score
        sudo mv kube-score /usr/local/bin/kube-score
        ls -l /usr/local/bin
    - name: scan manifests
      continue-on-error: true
      run: |
        echo "/usr/local/bin/" >> $GITHUB_PATH
        kube-score score ./app/*

  conftest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: test
      continue-on-error: true
      uses: instrumenta/conftest-action@master
      with:
        files: ./app/*.yml